<!DOCTYPE html>

<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>User cabinet</title>

    <link rel="shortcut icon" type="image/png" th:href="@{/images/ico.png}"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <th:block th:if="${currentUser} != null">
        <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
        <link th:href="@{/css/jasny-bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-colorpicker.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-slider.css}" rel="stylesheet"/>
        <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
        <link th:href="@{/css/summernote.css}" rel="stylesheet" />
        <link th:href="@{/css/noty.css}" rel="stylesheet" />

        <script th:src="@{/js/bootstrap/bootstrap-table.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-table-ru-RU.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.file-input.js}"></script>
        <script th:src="@{/js/bootstrap/jasny-bootstrap.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-datepicker.ru.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-select.min.js}"></script>
        <script th:src="@{/js/bootstrap/defaults-ru_RU.min.js}"></script>
        <script th:src="@{/js/bootstrap/pwstrength-bootstrap-1.2.7.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-toggle.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-colorpicker.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-slider.js}"></script>

        <!--
        <script th:src="@{/js/bootstrap/tableExport.min.js}"></script>
        <script th:src="@{/js/bootstrap/html2canvas.min.js}"></script>
        <script th:src="@{/js/bootstrap/FileSaver.min.js}"></script>
        <script th:src="@{/js/bootstrap/jspdf.min.js}"></script>
        <script th:src="@{/js/bootstrap/jspdf.plugin.autotable.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap-table-export.js}"></script>
        data-show-export="true" data-export-types="['doc', 'excel']" data-export-data-type="all" -->

        <script type="text/javascript" th:src="@{/js/summernote.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/summernote-ru-RU.js}"></script>
        <script type="text/javascript" th:src="@{/js/messages.js}"></script>

        <script type="text/javascript" th:src="@{/js/jquery.noty.packaged.min.js}"></script>

        <script th:src="@{/js/wow.min.js}"></script>
        <script th:src="@{/js/crypto/cadesplugin_api.js}"></script>
        <script th:src="@{/js/crypto/crypto-lib.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/safetyData.js}"></script>

        <th:block sec:authorize="hasRole('EDIT_SETTINGS')">
            <script src="../js/settings.js" th:src="@{/js/settings.js}"></script>
        </th:block>
    </th:block>
</head>

<body>
</body>

</html>