.listIcon {
    color: lightgray;
    cursor: pointer;
}

.listIcon.active {
    color: black;
}

#nameReference {
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.listReferencesDiv {
    direction: rtl;
    max-height: 80vh;
    overflow-y: auto;
}

.title-reference, .listReferences {
    direction: ltr;
}

.title-reference {
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1.25em;
    color: #cfcfcf;
    transition: 0.25s;
}

.block-reference.active .title-reference,
.title-reference:hover {
    color: black;
}

.title-reference::before{
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/arrow-right.png');
    text-align: right;
}

.block-reference.active .title-reference::before{
    background-image: url('../images/arrow-down.png');
}

.listReferences{
    display: none;
}

.errorMessage {
    display: none;
}

.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
    margin-top: 0px;
}

.list-indicators .nameIndicator{
    max-width: 90%;
}

.list-indicators a.removed{
    text-decoration: line-through;
}

.list-indicators .text-action{
    display: none;
    font-style: oblique;
    color: #ababab;
    margin: 0 10px;
}

.text-action{
    display: none;
    font-style: oblique;
    color: #ababab;
    font-size: 0.8em;
}


